---
Checks: '-*,bugprone-*,cppcoreguidelines-*,performance-*,portability-*,readability-*'
WarningsAsErrors: ''
# HeaderFilterRegex: '.*(?<!include/c\\+\\+)(?<!emscripten/cache).*$'
HeaderFilterRegex: '^((?!(usr|opt|emscripten|llvm)).)*cpp/.*\.(h|hpp|cpp)$'
# HeaderFilterRegex - Tell clang-tidy which header files to analyze. Focus clang-tidy's analysis on project files only.
FormatStyle: file

CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.GlobalConstantCase
    value: UPPER_CASE
  - key: readability-identifier-length.MinimumVariableNameLength
    value: 3
  - key: readability-identifier-length.MinimumParameterNameLength
    value: 3
  - key: readability-function-cognitive-complexity.Threshold
    value: 25
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: 1;2;3;4;10;100;1000
  - key: cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues
    value: 1;2;3;4;10;100;1000
